{% extends 'app_lmgas/base.html' %}
{% load static %}
{% block contenido %}
<!--Editar Producto  -->

<script>
    $(document).ready(function () {
        $("#guardar").submit(function (event) {
            event.preventDefault();
            swal({
                title: 'Producto agregado exitosamente!',
                text: 'Este mensaje se cerrara en 3 segundos',
                icon: "success",
                timer: 2500,
            })
        })
    });
</script>
<div class="container" style="margin-top: 50px;">
    <h6 id="direccion"><a href="index.html">inicio</a> > <a href="Admin.html">administrador </a>> <a
            href="listaproductos.html">productos </a>> <a href="agregarProductoAdmin.html"> agregar producto </a>>
    </h6>
    <div>
        <h3 style="color: #8d8d8d;">Producto</h3>
    </div>
    <form id="guardar" action="" method="GET">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="idProducto">Id</label>
                    <input type="text" class="form-control" name="idProducto" id="idProducto" aria-describedby="helpId"
                        placeholder="1238" readonly>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="marca">Marca</label>
                    <input type="text" class="form-control" name="marca" id="marca" aria-describedby="helpId"
                        placeholder="Marca">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <input type="text" class="form-control" name="tipo" id="tipo" aria-describedby="helpId"
                        placeholder="Tipo">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="valorProducto">Valor</label>
                    <input type="text" class="form-control" name="valorProducto" id="valorProducto"
                        aria-describedby="helpId" placeholder="Ej: $22.000">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="text" class="form-control" name="stock" id="stock" aria-describedby="helpId"
                        placeholder="Ej: 24 Unidades">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <textarea class="form-control" name="descripcion" id="descripcion" rows="3"></textarea>
                </div>
            </div>
            <div class="col-sm-12">
                <h6><b>Agregar Imágen</b></h6>
                <input type="file" id="imagen" name="imagen">
            </div>
        </div>
        <div class="text-right">
            <input type="submit" class="btn btn-primary mt-3" value="Guardar" onclick="editarProducto()">
        </div>
    </form>
</div>

{% endblock contenido %}