{% extends 'app_lmgas/base.html' %}
{% load static %}
{% block contenido %}


<div class="container " style="margin-top: 50px;">
        <h6 id="direccion"><a href="index.html">Inicio </a>> Crear cuenta</h6>
        <div class="row no-gutters">
            <div class="col-sm-4">
                <h3 style="border-bottom: 1px solid #acacac;">Crear cuenta nueva</h3>
                <h6>Estimado cliente, es importante que complete cuidadosamente los siguientes datos.
                    De esta forma podremos contactarlo en caso que su pedido presente algún problema.</h6>
                <br>
                <ion-icon id="icono-registro" name="person-circle-outline"></ion-icon>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
                <h3 style="border-bottom: 1px solid #acacac;"> Formulario de registro</h3>
                <form action="cuentaCreada.html" method="GET">
                    <div class="form-group">
                        <label for="rut"><b style="color: red;">*</b> Rut: </label>
                        <input type="text" class="form-control" placeholder="Ej: 19109921-4" id="rut" required
                            oninput="checkRut(this)" aria-describedby="hrut" name="">
                        <small id="hrut" class="form-text text-danger"></small>
                    </div>
                    <div class="form-group">
                        <label for="nombre"><b style="color: red;">*</b> Ingrese nombre</label>
                        <input type="text" class="form-control" name="nom" id="nombre"
                            onkeypress="return sololetras(event)" onpaste="return false" placeholder="Ingrese nombre">
                    </div>
                    <div class="form-group">
                        <label for="apellido"><b style="color: red;">*</b> Apellido: </label>
                        <input type="text" class="form-control" placeholder="Ingrese su apellido" id="apellido" required
                            name="ape" onkeypress="return sololetras(event)" onpaste="return false">
                    </div>
                    <div class="form-group">
                        <label for="email"><b style="color: red;">*</b> Correo electrónico: </label>
                        <input type="email" class="form-control" placeholder="Ingrese su correo electrónico" id="email"
                            required name="" aria-describedby="hmail" oninput="validarEmail(this)">
                        <small id="hmail" class="form-text text-danger"></small>
                    </div>
                    <div class="form-group">
                        <label for="pwd1"><b style="color: red;">*</b> Contraseña: </label>
                        <input type="password" class="form-control" placeholder="Ingrese su contraseña" id="pwd1"
                            required name="" aria-describedby="hcontra" oninput="validarContraseña(this)">
                        <small id="hcontra" class="form-text text-danger"></small>
                    </div>
                    <div class="form-group">
                        <label for="pwd2"><b style="color: red;">*</b> Confirmar contraseña: </label>
                        <input type="password" class="form-control" placeholder="Repita su contraseña" id="pwd2"
                            required name="" aria-describedby="hcontra2" oninput="validarPassword()">
                        <small id="hcontra2" class="form-text text-danger"></small>
                    </div>

                    <input id="registrarme" type="submit" class="btn btn-primary" value="Registrarme" onclick="validar()">
                </form>
            </div>
        </div>
    </div>



{% endblock contenido %}